[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lumache"
authors = [{name = "Einar Ari Ãrnason", email = "eaa17@hi.is"}]
dynamic = ["version", "description"]
